
 body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow:hidden;
  margin:0;
  background-color:black;
  color:white;
}
.main{
  display:flex;
  height:100vh;
  padding:0.5rem;

  
}
.sidebar{
  background-color:black;
  width:270px;
  border-radius: 1rem;
  margin:.5rem;
}
.main-content{
  background-color:#121212;
  flex:1;
  overflow:auto;
  border-radius:1 rem;
  padding:0 1.5rem 0 1.5rem;
}
.music-player{
  background-color:black;
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;
}
a{
  text-decoration:none;
  color:white;
}
.nav{
  background-color:#121212;
  border-radius:1rem;
  display:flex;
  flex-direction:column;
  height:100px;
  padding:0.5rem 0.75rem;

}
.nav-option{
  line-height:2.5rem;
  opacity:0.7;
  padding:0.5rem 0.75rem;

}
.nav-option:hover{
  opacity:1;
}
.nav-option i {
  font-size:1.25rem;
}
.nav-option a {
  font-size:1rem;
  margin:1rem;
}
.library{
  background-color:#121212;
  border-radius:1rem;
  height:100%;
  margin-top:0.5rem;
  padding:0.5rem 0.75rem;
}
.option{
  display:flex;
  justify-content:space-between;
  align-items:center;

}
.lib-option img {
   height:1.25rem;
   width:1.25rem;
}
.icon{
  font-size:1.25rem;
  display:flex;

}
.icons i{
  opacity:0.7;
  margin-right:0.5rem;
}
.icons i:hover{
  opacity:1;
}
.box{
  background-color:#232323;
  border-radius:.75rem;
  min-height:8rem;
  margin:.75rem 0 .75rem 0;
  padding:.1rem .57rem;
}
.box-p1{
  font-size:1rem;
  font-weight:500;
}
.box-p2{
  font-size:0.75rem;
  opacity:0.9rem;
}
.badge{
  background-color:#fff;
  border:none;
  border-radius:6.2rem;
  padding:.25rem 1rem;
  font-weight:700;
  margin-top:.15rem;
  height:2rem;
  width:fit-content;
}
.dark-badge{
  background-color:black;
  color:white;
}
.sticky-nav{
  position:sticky;
  top:0;
  background-color:#121212;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:.5rem 0 .5rem 0;
  z-index:1000;
}
.sticky-nav-icon {
  margin-left:0.85rem;
}
.sticky-nav-option button{
    margin-right:1rem;
}
@media(max-width:1000px){  /*agar 1000 se kam huya toh gayab ho jayega*/
  .hide{
    display:none;
}
}
.card{
  background-color: #232323;
  width:9.8rem;
  border-radius: 1rem;
  padding:.5rem;
  margin-left:1.5rem;
  margin-top:1rem;
}
.cards-container{
  display:flex;
  flex-wrap:wrap;
}
.card-img {
  width:100%;   /*card ke width ka 100% not saree scree ka */
  border-radius:1rem;
}
.card-title{
  font-weight:600;
}
.card-info{
  font-size:.75rem;
  opacity:.9;
}
.footer{
  height:300px;
  display:flex;
  align-items:center;
  justify-content:center;

}
.line{
  width:90%;
  height:60%;
  border-top:1px solid white;
  opacity:.5;
}
.music-player{
  display:flex;
  justify-content:space-between;
  align-items:center;

}

.album{
  width:25%;
  display:flex;
  align-items:center;
  gap:1.5rem;
  padding:0 1.5rem;
  height:auto;

}

.album-cover{
  width:48px;
  height:48px;
}
.album-text h3{
  margin:0;
  font-size:0.95rem;
}
.album-text p{
  margin:0;
  font-size:0.75rem;
  opacity:0.7;
}
.album-icon{
  height:20px;
  width:20px;
  object-fit:contain;
  opacity: 0.57;
}
.album-icon:hover{
  opacity:1;
}
.player{
  width:50%;
}
.player-control{
  display: flex;
  align-items:center;
  justify-content:center;
}
.player-control-icon{
  margin-right:1.75rem;
  height:1rem;
  opacity:.7;
}
.player-control-icon:hover{
  opacity:1;
}
.playback-bar{
  display:flex;
  align-items:center;
  justify-content:center;
}
.progress-bar{
   width:70%;
   appearance: none;
   background-color:transparent;
   cursor:pointer;
}
.progress-bar::-webkit-slider-runnable-track{
  background-color:#ddd;
  border-radius:100px;
  height:.2rem;
}
.progress-bar::-webkit-slider-thumb{
  appearance:none;
  height:1rem;
  width:1rem;
  background-color:#1bd768;
  border-radius:50%;;
   margin-top:-6px;

}
.control{
  width:25%;
  
}
.player-control-icon{
  height:1rem;
  
}
.control-icon{
  display:flex;
  height:2rem;
  width:100%;
  margin:0 1rem 0 1rem;
  justify-content: space-evenly;
  opacity:.7;
}
.control-icon:hover{
  opacity:1;
}
.diff{
  display:flex;
  align-items:center;
  margin-top:.5rem;
  height:1rem;
  opacity:.7;
}
.rang{
  margin-right:5rem;
}